
<div id="Accordion_wrap">
      <div class="menu">
        <div class="menu_container">
          <div class="menu_content">
            <p class="content_type">금융/수학</p>
            <ul class="content_list">
              <li><a href="./bokkli">간편 복리 계산기</a></li>
              <li><a href="./cal">공학용 계산기</a></li>
            </ul>
          </div>
          <div class="menu_content">
            <p class="content_type">음향/음악</p>
            <ul class="content_list">
              <li><a href="./frequency" >가청 주파수 테스트</a></li>
              <li><a href="./metronome" >온라인 메트로놈</a></li>
              <!-- <li><a>절대음감 테스트</a></li> -->
            </ul>
          </div>
          
          <div class="menu_content">
            <p class="content_type">생성기</p>
            <ul class="content_list">
              <li><a href="./lotto">로또 번호 생성하기</a></li>
              <li><a href="./barcode">바코드/QR코드 생성기</a></li>
            </ul>
          </div>

          <div class="menu_content">
            <p class="content_type">파일 변환</p>
            <ul class="content_list">
              <li><a href="./img-convert">이미지 확장자 변환</a></li>
              <li><a href="./pdf-convert">PNG, JPG PDF 변환</a></li>
              <li><a href="./pdf-to-jpg.ejs">PDF JPG 변환</a></li>
            </ul>
          </div>
          
          <div class="menu_content">
            <p class="content_type">기타</p>
            <ul class="content_list">
              <li><a href="./server-time">서버 시간 확인하기</a></li>
              <li><a href="./myip">내 IP 주소 확인하기</a></li>
              <li><a href="./memo">온라인 메모장</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu_btn">
        <span>메뉴</span>
      </div>

    </div>
