<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="입력한 숫자를 다양한 진법으로 변환하세요."
    />
    <meta
      name="keywords"
      content="진법, 진법변환, 진법변환기, 2진법, 8진법, 10진법, 16진법, 10진법 2진법 변환, 2진법 10진법 변환,
                  10진법 8진법 변환, 8진법 10진법 변환, 10진법 16진법 변환, 16진법 10진법 변환, 2진법 8진법 변환, 8진법 2진법 변환,
                  2진법 16진법 변환, 16진법 2진법 변환, 8진법 16진법 변환, 16진법 8진법 변환, base, base convert, base convertor,
                  Binary, Octal, Decimal, Hexadecimal, Decimal to Binary conversion, Binary to Decimal conversion,
                  Decimal to Octal conversion, Octal to Decimal conversion, Decimal to Hexadecimal conversion, Hexadecimal to Decimal conversion, 
                  Binary to Octal conversion, Octal to Binary conversion, Binary to Hexadecimal conversion, Hexadecimal to Binary conversion, 
                  Octal to Hexadecimal conversion, Hexadecimal to Octal conversion, MLabs, M.Labs, 온라인 도구, 온라인 도구모음, Online Tools"
    />
    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/base-convert">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="진법 변환기">
    <meta property="og:image" content="images/ogimage.png">
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="진법 변환기">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="입력한 숫자를 다양한 진법으로 변환하세요.">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">

    <title>진법 변환기</title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/base-convert.css" />
  </head>
  <body>
    <%- include('./nav') %> <%- include('./accordion') %>

    <main>
      <div class="container">
        <h1 style="width: 80%; margin-bottom: 30px">진법 변환기</h1>
        <div class="content-wrapper">
          <div class="original-container wrapper">
            <div class="base-selector-wrapper">
              <input type="radio" id="o-2" name="start-base-type" checked />
              <label for="o-2">2진법</label>

              <input type="radio" id="o-8" name="start-base-type" />
              <label for="o-8">8진법</label>

              <input type="radio" id="o-10" name="start-base-type" />
              <label for="o-10">10진법</label>

              <input type="radio" id="o-16" name="start-base-type" />
              <label for="o-16">16진법</label>
            </div>

            <textarea
              class="original-val"
              placeholder="변환할 값을 입력하세요."
            ></textarea>
          </div>

          <div class="switch">
            <div class="switch-wrapper">
              <button class="switch-btn"><span>➡</span><span>⬅</span></button>
            </div>
          </div>

          <div class="result-container wrapper">
            <div class="base-selector-wrapper">
              <input type="radio" id="r-2" name="result-base-type" checked />
              <label for="r-2">2진법</label>

              <input type="radio" id="r-8" name="result-base-type" />
              <label for="r-8">8진법</label>

              <input type="radio" id="r-10" name="result-base-type" />
              <label for="r-10">10진법</label>

              <input type="radio" id="r-16" name="result-base-type" />
              <label for="r-16">16진법</label>
            </div>
            <textarea
              class="result-val"
              placeholder="여기에 결과가 표시됩니다."
            ></textarea>
          </div>
        </div>
        <div class="btn-container">
          <button class="cal-btn">계산하기</button>
          <button class="clear">초기화</button>
        </div>
      </div>
    </main>

    <%- include('./footer') %>
    <script src="/js/common.js"></script>
    <script src="/js/base-convert.js"></script>
  </body>
</html>
