<!DOCTYPE html>
<html lang="ko">  
  <head>
    <link rel="icon" th:href="@{'/assets/images/logo.png'}">
    <meta name="naver-site-verification" content="21c15f3dc794fc1a3285bd2ef3aca4f8656a962b" />
    <meta name="google-site-verification" content="kW09c0DK4xDTGSGAAOdQK3UgPYERortrtnP8bLnjeZ8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="간편 복리 계산기: 계산 결과를 csv로 다운로드하세요.">
    <meta name="keywords" content="간편 복리 계산기, 복리 계산, 원리금 복리 계산, 이자 계산, 복리 이자 계산, 장기 투자 계산, 월복리 계산, 연 복리 이자 계산, 수익성 계산, 이율 계산, 투자 수익 계산, 예금 이자 계산,
    Simple Compound Interest Calculator, Compound Interest Calculation, Principal and Interest Compound Calculator, Monthly Compound Interest Calculator, Annual Compound Interest and Interest Calculator, 
    Profitability Calculator, Interest Rate Calculator, Investment Profit Calculator, Deposit Interest Calculator,
    简易复利计算器, 复利计算, 本利复利计算, 利息计算, 复利利息计算, 长期投资计算, 月复利计算, 年复利和利息计算, 盈利能力计算, 利率计算, 投资利益计算, 存款利息计算,
    簡単な複利計算機, 複利計算, 本利複利計算, 利子計算, 複利利子計算, 長期投資計算, 月次複利計算, 年次複利と利子計算, 収益性計算, 利率計算, 投資利益計算, 預金利息計算">
    
    <title>간편 복리계산기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Sunflower:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Sunflower:wght@300&display=swap" rel="stylesheet">

	  <link rel="stylesheet" href="/css/bokkli.css">
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "M_Labs",
        "alternateName" : "EC",
        "url" : "https://bokkli.netlify.app/"
      }
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2866511897521551"
    crossorigin="anonymous"></script>
    
  </head>
  <body id="web_content" class="lite">
    <header>
      <%- include('./nav') %>
      <%- include('./accordion') %>

    </header>

    <main>
      <div class="main_wrap">
        <div class="cal_area">
          <div class="inner_container cal_area_wrap">
            <h1 id="calculation_title" style="font-size: 40px; padding-bottom: 20px">복리 계산하기</h1>
            <div class="inner_container_wrap">
              <h3 id="start_amount_label">시작 금액</h3>
              <input
                type="text"
                class="amount_input"
                placeholder="금액을 입력하세요"
								oninput="validateNumberInput(this)"
              />
            </div>
            <div class="inner_container_wrap">
              <h3 id="duration_label">기간</h3>
              <input
                type="text"
                class="duration_input"
                placeholder="기간을 입력하세요"
								oninput="validateNumberInput(this)"
              />
            </div>
            <div class="inner_container_wrap">
              <h3 id="profit_rate_label">수익률 (%)</h3>
              <input
                type="text"
                class="profit_input"
                placeholder="수익률을 입력하세요"
								oninput="validateNumberInput(this)"
              />
            </div>
            <div class="inner_container_wrap cal_btn_wrap">
              <button id="cal_btn" class="do_cal_btn" type="button" onclick="calculate()">
                계산하기
              </button>
            </div>
          </div>

          <div class="total_result_container">
            <div class="total_area">
              <div class="total_profit">
								<div class="flex_center">
                	<h2 id="total_profit_title">총 수익</h2>
									<p class="color_green"></h2>
								</div>
              </div>
              <div class="total_profit_percentage">
								<div class="flex_center">
                	<h2 id="total_profit_percentage_title">총 수익률</h2>
									<p class="color_green"></p>
								</div>
              </div>
            </div>
          </div>

					<div class="profit_detail_container">
						<table class="profit_detail_table">

						</table>
					</div>
        </div>
        <div class="how_to_use">
          <div class="htu_h3">
            <h3>사용 방법</h3>
          </div>
          <div class="step">
            <p>1. 초기 투자금액을 입력합니다.</p>
            <p>2. 투자 기간을 입력합니다. (일, 월, 년...)</p>
            <p>3. 매 일(월, 년...) 마다의 이자율을 입력합니다.</p>
            <p>4. 계산하기를 누르면 결과가 나타납니다.</p>
            <p>5. 계산 후 결과를 CSV로 다운로드할 수 있습니다.</p>
          </div>
        </div>
        <div class="how_to_use">
          <div class="htu_h3"><h3>복리란?</h3></div>
          <div class="step">
            <p>복리는 원금에 대한 이자가 계산되면서 시간이 지남에 따라 원금이 계속 증가하여 더 많은 이자를 얻는 형태의 이자 계산 방법입니다.
              단리와 대비되는데, 단리는 원금에 대한 이자가 계속해서 일정하게 적용되는 방식입니다.</p>
            <br>
            <p>복리를 계산하는 기본 공식은 다음과 같습니다.</p>
            <br>
            <h3>A = P * (1 + r)^n</h3>
            <br>
            <p>- A: 최종 금액(미래 가치 또는 미래 원금과 이자의 합계)</p>
            <p>- P: 원금</p>
            <p>- r: 이자율(소수로 표현한 값)</p>
            <p>- n: 기간(시간)</p>

            <br>
            <h3>&#183; 단위기간 복리 법칙 (Unit Time Period Rule)</h3>
            <p>복리 계산에서 가장 기본적인 법칙 중 하나입니다.
              이 법칙은 복리 계산에서 이자율 r이 한 번의 계산 단위(예: 연, 월)에 대한 것이라고 가정합니다.</p>
            <br>
            <h3>&#183; 복리의 시간 가치 (Time Value of Money)</h3>
            <p>복리에서 시간은 중요한 역할을 합니다. 동일한 이자율에서 시간이 지남에 따라 
              동일한 금액이라도 현재 가치는 더 높아지게 됩니다.</p>
            <br>
            <h3>&#183; 복리의 이자율 변환 (Compounding Interest Rate Conversion)</h3>
            <p>이자 계산에 사용되는 복리 이자율은 연속적으로 적용되는 경우와 이산적으로 적용되는 경우가 있습니다. 
              복리 이자율이 연속적으로 적용되는 경우를 고려하면 다음과 같은 공식이 적용됩니다</p>
            <h3>A = P * e^(rt)</h3>
            <p>여기서 e는 자연로그의 밑이고, t는 시간입니다.</p>
            <br>
            <h3>&#183; 복리의 미래 가치 (Future Value of Compound Interest)</h3>
            <p>맨 처음 알려드린 기본 공식을 통해 현재 원금이 미래에 얼마가 될지를 계산할 수 있습니다.</p>
            <br>
            <h3>&#183; 복리의 현재 가치 (Present Value of Compound Interest)</h3>
            <p>미래의 금액을 현재 가치로 환산하기 위한 공식입니다.</p>
            <h3>P = A / (1 + r)^n</h3>
            <br>
            <p>복리 계산기를 사용해 내 투자 수익을 계산하고 효과적인 투자 전략을 기획하세요.</p>
            <br>
          </div>
        </div>
      </div>
    </main>

	<!-- footer -->
  <%- include('./footer') %>

    <script src="/js/bokkli.js"></script>
  </body>
</html>
