<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>랜덤 주사위</title>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/dice.css" />
  <link rel="icon" href="/images/logo.png" />

</head>
<body>
  <%- include('./nav') %> <%- include('./accordion') %>
  <main>
    <div class="container">
      <div id="wrap">
        <section id="diceBox">
          <h1 style="margin-bottom: 30px">랜덤 주사위</h1>
          <div class="selectBox2 ">
            <button class="label">갯수</button>
            <ul class="optionList">
              <li class="optionItem">1</li>
              <li class="optionItem">2</li>
            </ul>
          </div>
          <div class="dice_wrap">
            <div class="dice01">
              <div class="dice_inner">
                <div class="dice">
                  <div class="face1 face">1</div>
                  <div class="face2 face">2</div>
                  <div class="face3 face">3</div>
                  <div class="face4 face">4</div>
                  <div class="face5 face">5</div>
                  <div class="face6 face">6</div>
                </div>
              </div>
            </div>
            <div class="dice02">
              <div class="dice_inner">
                <div class="dice">
                  <div class="face1 face">1</div>
                  <div class="face2 face">2</div>
                  <div class="face3 face">3</div>
                  <div class="face4 face">4</div>
                  <div class="face5 face">5</div>
                  <div class="face6 face">6</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sum">
            <h2>합계: <span></span></h2>
          </div>
          <button id="btnRolling">주사위 굴리기</button>
          
          <div class="all-result-container">
            <h1>모든 결과 보기</h1>
            <ul>
              <li>
                <div class="cnt-txt">회차</div>
                <div class="val-txt">결과</div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%- include('./footer') %>
  
  <script src="/js/common.js"></script>
  <script src="/js/dice.js"></script>
</body>
</html>