<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="랜덤 주사위 번호를 생성하세요."/>

  <meta name="keywords" content="랜덤 주사위, 주사위 번호 생성, 랜덤 숫자, 주사위 시뮬레이터, 주사위 도구, 랜덤 번호 발생기, 온라인 주사위,
                 Random dice, Generate dice number, Random numbers, Dice simulator, Dice tool, Random number generator, Online dice"/>
  <meta name="robots" content="index nofollow">
  
  <title>랜덤 주사위</title>

  <meta name="robots" content="index nofollow">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mlabstools.com/dice">
  <meta property="og:site_name" content="mlabstools:Online Tools">
  <meta property="og:title" content="랜덤 주사위">
  <meta property="og:image" content="images/ogimage.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mlabstools">
  <meta name="twitter:title" content="랜덤 주사위">
  <meta name="twitter:creator" content="@mlabstools">
  <meta name="twitter:description" content="랜덤 주사위 번호를 생성하세요.">
  <meta property="twitter:image" content="images/ogimage.png">
  <meta name="by" content="mlabstools">
  
  <link rel="canonical" href="https://mlabstool.site/dice" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/dice.css" />
  <link rel="icon" href="/images/logo.png" />

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2866511897521551"
     crossorigin="anonymous"></script>

</head>
<body>
  <%- include('./nav') %> <%- include('./accordion') %>
  <main>
    <div class="container">
      <div id="wrap">
        <section id="diceBox">
          <h1 style="margin-bottom: 30px">랜덤 주사위</h1>
          <div class="selectBox2 ">
            <button class="label">갯수</button>
            <ul class="optionList">
              <li class="optionItem">1</li>
              <li class="optionItem">2</li>
            </ul>
          </div>
          <div class="dice_wrap">
            <div class="dice01">
              <div class="dice_inner">
                <div class="dice">
                  <div class="face1 face">1</div>
                  <div class="face2 face">2</div>
                  <div class="face3 face">3</div>
                  <div class="face4 face">4</div>
                  <div class="face5 face">5</div>
                  <div class="face6 face">6</div>
                </div>
              </div>
            </div>
            <div class="dice02">
              <div class="dice_inner">
                <div class="dice">
                  <div class="face1 face">1</div>
                  <div class="face2 face">2</div>
                  <div class="face3 face">3</div>
                  <div class="face4 face">4</div>
                  <div class="face5 face">5</div>
                  <div class="face6 face">6</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sum">
            <h2>합계: <span></span></h2>
          </div>
          <button id="btnRolling">주사위 굴리기</button>
          
          <div class="all-result-container">
            <h2 style="font-size: 32px;">모든 결과 보기</h2>
            <ul>
              <li>
                <div class="cnt-txt">회차</div>
                <div class="val-txt">결과</div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%- include('./footer') %>
  
  <script src="/js/common.js"></script>
  <script src="/js/dice.js"></script>
</body>
</html>