<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/encoder.css" />

  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container">
        <h1 style="width: 70%; margin-bottom: 50px;">텍스트 인코더 & 디코더</h1>
        <div class="content-wrapper">
          <div class="type">
            <input type="radio" id="base64" name="type-radio" checked/>
            <label for="base64"><span>base64</span></label>
            <input type="radio" id="base32" name="type-radio" />
            <label for="base32"><span>base32</span></label>
            <input type="radio" id="url" name="type-radio"/>
            <label for="url"><span>URL</span></label>
          </div>
          <div class="encode-decode h-40 m-tb-15 flex-a-center">
            <input type="radio" id="encode" name="encode-decode-radio" class="encode-decode-selector" checked/>
            <label for="encode"><span>Encode</span></label>
            <input type="radio" id="decode" name="encode-decode-radio" class="encode-decode-selector"/>
            <label for="decode"><span>Decode</span></label>
          </div>
          <div class="url-encode-decode h-40 m-tb-15" >
            <select name="selectbox" class="selectbox" id="selectBox">
              <option id="encodeUrl" checked>EncodeUrl</option>
              <option id="decodeUrl" checked>DecodeUrl</option>
              <option id="encodeUrlComponent" checked>EncodeUrlComponent</option>
              <option id="decodeUrlComponent" checked>DecodeUrlComponent</option>
              <option id="escape" checked>Escape</option>
              <option id="unescape" checked>Unescape</option>
            </select>
          </div>
      
          <textarea class="text-input" placeholder="여기에 텍스트를 입력하세요."></textarea>
          <div class="btn-container">
            <button type="button" class="do-encode-btn" onclick="doConvert()">변환</button>
            <button type="button" class="copy-result" onclick="copyResult()">결과 복사</button>
            <button type="button" class="clear" onclick="clearBoth()">초기화</button>
          </div>
          <textarea class="result" placeholder="여기에 결과가 표시됩니다."></textarea>
        </div>
      </div>
    </main>

    <%- include('./footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/encoder.js"></script>
  </body>
</html>
