<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="간편한 최대공약수, 최소공배수 계산기">
    <meta name="keywords" content="최대 공약수, 최소 공배수, 공약수 계산기, 공배수 계산기, GCD, LCM, Greatest Common Divisor, 
                                  Least Common Multiple, Calculator, 최대공약수와 최소공배수, GCD 및 LCM, 최대공약수와 최소공배수 계산"/>
                                  <meta name="robots" content="index nofollow">

    <title>공약수 & 공배수 계산기</title>

    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/gcd-lcm">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="공약수 & 공배수 계산기">
    <meta property="og:image" content="images/ogimage.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="공약수 & 공배수 계산기">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="간편한 최대공약수, 최소공배수 계산기">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">

    <link rel="canonical" href="https://mlabstool.site/gcd-lcm" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/gcd-lcm.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2866511897521551"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('nav') %> <%- include('accordion') %>

    <main>
      <div class="container">
        <h1 style="width: 65%; margin-bottom: 30px">공약수 & 공배수 계산기</h1>
        <textarea class="textarea" placeholder='띄어쓰기(" ")로 구분'></textarea>
        <div class="btn-container">
          <button class="cal-btn">계산하기</button>
        </div>
        <div class="result-container">
          <span style="display: inline-block; font-size: 16px; font-weight: 500; color: #c3c3c3; margin-bottom: 30px;">* 계산 결과가 여기에 표시됩니다.</span>
          <p class="gcd"></p>
          <p class="lcm"></p>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/gcd-lcm.js"></script>
  </body>
</html>
