<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="간편하게 문자를 해시 암호화하세요.">
    <meta name="keywords" content="해시 암호화, Hash encryption, 데이터 보안, 데이터 암호화, 해시 함수, 해시 알고리즘, 보안 기술, 데이터 보호, 
    데이터 무결성, 데이터 안전성, 암호화 기술, 데이터 보안 솔루션, 암호화 솔루션, 
    SHA-512, SHA-384, SHA-256, SHA-224, SHA-512/256, SHA-512/224, SHA3-512, SHA3-384, SHA3-256, 
    SHA3-224, SHA-1, SHA1, Shake-256, Shake-128, CRC-32, CRC-16, Keccak-512, Keccak-384, Keccak-256, Keccak-224"/>
    <meta name="robots" content="index nofollow">

    <title>해시 암호화</title>
    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/hash">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="해시 암호화">
    <meta property="og:image" content="images/ogimage.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="해시 암호화">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="간편하게 문자를 해시 암호화하세요.">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">
    
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/hash.css" />

  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container"> 
        <div class="content-wrapper">
          <div class="type-container">
            <input type="radio" id="sha" name="hash-type" checked />
            <label for="sha">SHA</label>
  
            <input type="radio" id="sha3" name="hash-type" />
            <label for="sha3">SHA3</label>
  
            <input type="radio" id="sha1" name="hash-type" />
            <label for="sha1">SHA1</label>
  
            <input type="radio" id="shake" name="hash-type" />
            <label for="shake">Shake</label>
  
            <!-- <input type="radio" id="md" name="hash-type" />
            <label for="md">MD</label> -->
  
            <input type="radio" id="crc" name="hash-type" />
            <label for="crc">CRC</label>
  
            <input type="radio" id="keccak" name="hash-type" />
            <label for="keccak">Keccak</label>
          </div>
      
          <div class="type-detail-wrapper">
            <select class="type-detail-select sha">
              <option id="512" selected>SHA512</option>
              <option id="384">SHA384</option>
              <option id="256">SHA256</option>
              <option id="224">SHA224</option>
              <option id="512/256">SHA512/256</option>
              <option id="512/224">SHA512/224</option>
            </select>
      
            <select class="type-detail-select sha3">
              <option id="512" selected>SHA3-512</option>
              <option id="384">SHA3-384</option>
              <option id="256">SHA3-256</option>
              <option id="224">SHA3-224</option>
            </select>
      
            <select class="type-detail-select sha1">
              <option id="sha1" selected>SHA1</option>
            </select>
      
            <select class="type-detail-select shake">
              <option id="256" selected>Shake-256</option>
              <option id="128">Shake-128</option>
            </select>
      
            <!-- <select class="type-detail-select md">
              <option id="5" selected>MD-5</option>
              <option id="4">MD-4</option>
              <option id="2">MD-2</option>
            </select> -->
      
            <select class="type-detail-select crc">
              <option id="32" selected>CRC-32</option>
              <option id="16">CRC-16</option>
            </select>
      
            <select class="type-detail-select keccak">
              <option id="512" selected>Keccak-512</option>
              <option id="384">Keccak-384</option>
              <option id="256">Keccak-256</option>
              <option id="224">Keccak-224</option>
            </select>
          </div>
          <textarea type="text" class="source-txt" placeholder="여기에 문자를 입력하세요."></textarea>
          <div class="btn-container">
            <button type="button" class="submit-btn">입력</button>
            <button type="button" class="clear">초기화</button>
            <input type="checkbox" id="capitalize" name="capitalize">
            <label for="capitalize"></label>
            <span>알파벳 대문자</span>
          </div>
          <textarea type="text" class="result-txt" placeholder="여기에 결과가 표시됩니다."></textarea>
        </div>
      </div>
    </main>

    <%- include('./footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/hash.js"></script>
  </body>
</html>
