<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이미지 변환기</title>

    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/imgconvertor.css" />
    <link rel="stylesheet" href="/css/slider.css"/>
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css"/>
	<style>
	</style>
  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
        <!-- <form action="/convert-image" method="post" enctype="multipart/form-data"> -->
          <input type="file" class="upload" accept=".avif, .jpeg, .jpg, .jpe, .tile, .dz, .png, .tiff, .tif, .webp, .gif" id="fileInput" style="display: none" onchange="handleFileSelect()" multiple/>
          <div class="upload-area" onclick="handleClick(event)" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
            <div class="here">
              <img id="addImg" class="add-img" src="/images/folder-add.svg" />
              <p class="add-txt">클릭 또는 여기에 파일을 끌어다 놓으세요</p>
            </div>
          </div>
          <div class="convert_wrap">
            <span>이미지 확장자 변환</span>
            <button class="upload-img-btn" type="button" onclick="handleClick(event)">이미지 업로드</button>
            <!-- <div class="select-convert"> -->
              <select class="format-selector" name="format" required>
                <option value="avif">AVIF</option>
                <option value="jpg" selected>JPG(기본)</option>
                <option value="jpeg">JPEG</option>
                <option value="bmp">BMP</option>
                <option value="gif">GIF</option>
                <option value="png">PNG</option>
                <option value="tiff">TIFF</option>
                <option value="webp">WEBP</option>
              </select>              
              <button class="convert-all-btn" type="button" onclick="convertAllImage()">변환 후 다운로드</button>
                
            <!-- </div> -->
          </div>
        <!-- </form> -->
        <br />
        <!-- <%- include('./slick') %> -->
        <!-- <div class="how_to_use">
          <div class="htu_h3"><h3>기능 소개 및 사용법</h3></div>
          <div class="step">
            <p>간편하게 다양한 이미지 파일을 내가 원하는 확장자로 변경하는 기능입니다. 
            <br>변경 가능한 타입은 jpg, jpeg, bmp, gif, png, tiff 입니다.
            이미지의 확장자를 변경해서 호환성 및 지원 형식 변경, 파일 크기 최적화를 해보세요.</p>
            <br>
            <h3>사용 방법</h3>
            <br>
            <p>1. 파일 업로드 버튼을 클릭 또는 이미지 영역에 드래그 & 드롭을 통해 파일을 업로드 하세요</p>
            <br>
            <p>2. 변경하고 싶은 확장자를 선택하세요</p>
            <br>
            <p>3. 이미지 변환 버튼을 누르면, 해당 확장자로 이미지 파일이 변환되며, 다운로드 버튼이 표시됩니다.</p>
            <br>
            <p>4. 다운로드 버튼을 누르면 변환된 이미지 파일이 다운로드됩니다.</p>
            
          </div>
        </div> -->
    </main>

    <!-- footer -->
    <%- include('./footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/img-convert.js"></script>

    <script></script>
  </body>
</html>
