<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>
    
    <!-- main -->
    <main>
      <div class="container">
        <div class="search_result_container">
          <div class="search_container">
            <input
              type="text"
              class="search"
              placeholder="검색할 콘텐츠를 입력하세요"
            />
          </div>
          <div class="result_container">
            <ul class="result_ul"></ul>
          </div>
        </div>
        <div class="how_to_use">
          <div class="htu_h3"><h3>사이트 소개</h3></div>
          <div class="step">
            <p>1. M.Labs는 다양한 기능들을 모아 둔 웹 사이트입니다.</p>
            <p>2. 메뉴 항목에서 다양한 콘텐츠를 찾아 이용할 수 있습니다.</p>
            <p>3. 검색창에 콘텐츠 제목을 입력해 간편하게 찾아보세요.</p>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('./footer') %>

    <script>
      // 여기에 추가적인 JavaScript 코드 작성
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
