<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="자동으로 로또번호를 생성하세요!">
    <title>로또번호생성</title>
    
	  <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
	  <link rel="stylesheet" href="/css/lotto.css" />
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <meta name="naver-site-verification" content="e6334327e14ade1484df8c14c62d5b1f099b5551" />
    <meta name="google-site-verification" content="kW09c0DK4xDTGSGAAOdQK3UgPYERortrtnP8bLnjeZ8" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2866511897521551"
     crossorigin="anonymous"></script>
     <style>
      #Accordion_wrap{
        position: fixed !important;
        width: 100%;
      }
     </style>
  </head>
  <body class="lite">
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container">
        <div class="lotto_machine_container">
          <img class="lotto_machine" src="/images/lotto_machine.png" />
        </div>
        <div class="btn_container">
          <button type="button" class="num_generate_btn btn_lite">
            생성하기
          </button>
        </div>
        <div class="lotto_container">
          <div class="top_bg"><span>생성된 번호가 여기에 표시됩니다.</span></div>
          <div class="lotto_num_container">

          </div>
        </div>
        <div class="rule_container">
          <h4>동행 복권 규칙</h4>
          <table class="rule_table">
            <tr>
              <th>등수</th>
              <th>당첨 조건</th>
            </tr>
            <tr>
              <td>1등</td>
              <td>당첨번호 6개 숫자일치</td>
            </tr>
            <tr>
              <td>2등</td>
              <td>당첨번호 5개 숫자일치
                +보너스 숫자일치</td>
            </tr>
            <tr>
              <td>3등</td>
              <td>당첨번호 5개 숫자일치</td>
            </tr>
            <tr>
              <td>4등</td>
              <td>당첨번호 4개 숫자일치</td>
            </tr>
            <tr>
              <td>5등</td>
              <td>당첨번호 3개 숫자일치</td>
            </tr>
          </table>
        </div>
        <br>

      </div>
    </main>


    <!-- footer -->
    <%- include('./footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/lotto.js"></script>
  </body>
</html>
