<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="로또 번호를 생성하고 당첨의 기회를 노려보세요.">
    <meta name="keywords" content="로또 번호 생성, Lotto number generator, 로또 번호 추첨, Lotto number drawing, 
    로또 당첨 번호, Lotto winning numbers, 로또 번호 생성기, Lotto number generator, 로또 당첨 규칙, Lotto winning rules, 
    로또 복권 규칙, Lotto lottery rules, 로또 당첨 등수, Lotto winning ranks, 로또 당첨조건, Lotto winning conditions, 1등 로또 번호, 
    1st prize lotto numbers, 2등 로또 번호, 2nd prize lotto numbers, 3등 로또 번호, 3rd prize lotto numbers, 4등 로또 번호, 
    4th prize lotto numbers, 5등 로또 번호, 5th prize lotto numbers"/>
    <meta name="robots" content="index nofollow">

    <title>로또번호생성</title>

    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/lotto">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="로또번호생성">
    <meta property="og:image" content="images/ogimage.png">
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="로또번호생성">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="로또 번호를 생성하고 당첨의 기회를 노려보세요.">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">
    
    <link rel="canonical" href="https://mlabstool.site/lotto" />
	  <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
	  <link rel="stylesheet" href="/css/lotto.css" />

     <style>
      #Accordion_wrap{
        position: fixed !important;
        width: 100%;
      }
     </style>
  </head>
  <body class="lite">
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container">
        <div class="lotto_machine_container">
          <img class="lotto_machine" src="/images/lotto_machine.png" />
        </div>
        <div class="btn_container">
          <button type="button" class="num_generate_btn btn_lite">
            생성하기
          </button>
        </div>
        <div class="lotto_container">
          <div class="top_bg"><span>생성된 번호가 여기에 표시됩니다.</span></div>
          <div class="lotto_num_container">

          </div>
        </div>
        <div class="rule_container">
          <h4>동행 복권 규칙</h4>
          <table class="rule_table">
            <tr>
              <th>등수</th>
              <th>당첨 조건</th>
            </tr>
            <tr>
              <td>1등</td>
              <td>당첨번호 6개 숫자일치</td>
            </tr>
            <tr>
              <td>2등</td>
              <td>당첨번호 5개 숫자일치
                +보너스 숫자일치</td>
            </tr>
            <tr>
              <td>3등</td>
              <td>당첨번호 5개 숫자일치</td>
            </tr>
            <tr>
              <td>4등</td>
              <td>당첨번호 4개 숫자일치</td>
            </tr>
            <tr>
              <td>5등</td>
              <td>당첨번호 3개 숫자일치</td>
            </tr>
          </table>
        </div>
        <br>

      </div>
    </main>


    <!-- footer -->
    <%- include('./footer') %>

    <script src="/js/common.js"></script>
    <script src="/js/lotto.js"></script>
  </body>
</html>
