<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="오늘의 할 일, 생각나는 내용을 온라인 메모장에 작성하세요.">
    <meta name="keywords" content="온라인 메모장, Online memo pad, 메모장, Memo pad, 메모 툴, Memo tool, 간편 메모, Simple memo, 
    메모장 작성, Memo writing, 메모장 저장, Memo pad storage, 메모장 기능, Memo pad features, 메모장 옵션, Memo pad options, 
    메모장 일반 모드, Memo pad normal mode, 메모장 에디터 모드, Memo pad editor mode, 메모장 맞춤법 검사, Memo pad spell check"/>
    <meta name="robots" content="index nofollow">

    <title>온라인 메모장(Online Memo)</title>

    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/memo">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="온라인 메모장">
    <meta property="og:image" content="images/ogimage.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="온라인 메모장">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="오늘의 할 일, 생각나는 내용을 온라인 메모장에 작성하세요.">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">

    <link rel="icon" href="/images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Sunflower:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Sunflower:wght@300&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/summernotes/summernote-lite.js"></script>
    <script src="/summernotes/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/summernotes/summernote-lite.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/memo.css">

    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      .memo-container {
        height: 100vh;
        background-size: 2px 100%, 100% 24px;
        background-position: 40px top, left 0px;
        background-repeat: no-repeat, repeat;
        line-height: 24px;
        background-attachment: local;
        margin-top: 72px;
      }

      
      .note-editor.note-frame {
        display: none;
      }


    </style>
  </head>
  <body>
    <%- include('./nav') %> 
    <%- include('./accordion') %>

    <div class="memo-container">
      <div class="options">
        <div class="btn-container">
          <button class="normal active">일반</button>
          <button class="editor">에디터</button>
          <div class="tooltip">
            <button class="about">❕</button>
            <div class="tooltiptext">입력한 텍스트는 클라이언트 캐시에 저장됩니다. 캐시 삭제 시 입력한 메모가 삭제되므로 주의하시길 바랍니다.</div>
          </div>

          <div class="spell-check-container">
            <input type="checkbox" id="spell-check" name="spell-check" onclick="spellCheck()" checked>
            <label for="spell-check"></label>
            <span>맞춤법 검사</span>
          </div>
        </div>
      </div>
      <textarea id="memo" placeholder="메모를 입력하세요..."></textarea>
      <textarea class="summernote" name="editordata"></textarea>
    </div>

    <script src="/js/common.js"></script>
    <script src="/js/memo.js"></script>
    <script>

    </script>
    <script>
      $(".summernote").summernote({
        height: 450,
        lang: "ko-KR",
      });
    </script>
  </body>
</html>
