<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>온라인 메모장</title>

    <link rel="icon" href="/images/logo.png" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/summernotes/summernote-lite.js"></script>
    <script src="/summernotes/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/summernotes/summernote-lite.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/memo.css">

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      .memo-container {
        height: 100vh;
        background-size: 2px 100%, 100% 24px;
        background-position: 40px top, left 0px;
        background-repeat: no-repeat, repeat;
        line-height: 24px;
        background-attachment: local;
        margin-top: 72px;
      }

      
      .note-editor.note-frame {
        display: none;
      }


    </style>
  </head>
  <body>
    <%- include('./nav') %> 
    <%- include('./accordion') %>

    <div class="memo-container">
      <div class="options">
        <div class="btn-container">
          <button class="normal active">일반</button>
          <button class="editor">에디터</button>
          <div class="tooltip">
            <button class="about">❕</button>
            <div class="tooltiptext">입력한 텍스트는 클라이언트 캐시에 저장됩니다.<br>캐시 삭제 시 입력한 메모가 삭제되므로 주의하시길 바랍니다.</div>
          </div>

        </div>
      </div>
      <textarea id="memo" placeholder="메모를 입력하세요..."></textarea>
      <textarea class="summernote" name="editordata"></textarea>
    </div>

    <script src="/js/common.js"></script>
    <script src="/js/memo.js"></script>
    <script>

    </script>
    <script>
      $(".summernote").summernote({
        height: 450,
        lang: "ko-KR",
      });
    </script>
  </body>
</html>
