<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="온라인 메트로놈">
 	<meta property="og:type" content="website">
 	<meta property="og:image" content="images/logo.png">
 	<meta property="og:description" content="온라인 메트로놈">
 	
  <title>온라인 메트로놈</title>
  
	<link rel="icon" href="/images/logo.png">
	<link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/metronome.css" />
  
  <style>

  </style>

</head>
<body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

	<main>
  	<div class="container">
      <h1 style="margin-bottom: 20px;">온라인 메트로놈</h1>
    	<div class="metronome">
      	<div class="bpm-display">
        	<span class="tempo">140</span>
        	<span class="bpm">BPM</span>
      	</div>

      	<div class="tempo-text">Medium</div>
    	  <div class="tempo-setting">
    	    <div class="adjust-tempo-btn decrease-tempo">-</div>
  	      <input type="range" min="20" max="300" step="1" class="tempo-slider">
	        <div class="adjust-tempo-btn increase-tempo">+</div>

      	</div>
      	<div class="selected-cnt-wrapper">

      	</div>
      	<div class="start-stop">START</div>
      	<div class="measures">
        	<div class="subtrack-beats stepper">-</div>
        	<div class="measure-count">4</div>
        	<div class="add-beats stepper">+</div>
      	</div>
      	<span class="beats-per-measure-text">마디 당 비트수</span>
    	</div>
    	
		<div class="open-help">
            <span>도움말(클릭)</span>
            <img class="help-icon" src="/images/help.svg">
          </div>

  	</div>
  </main>

  <div class="help-modal">
	<div class="modal-overlay"></div>
	<div class="modal-content">
	  <div class="modal-content-wrapper">
		<img class="close-modal" src="/images/deletebtn.svg">
		<h1 style="margin-bottom: 30px;">사용방법</h1>
		<p><span style="font-weight: 700">&#183</span> <span style="font-weight: 600">메트로놈</span>은 일정한 속도로 음악의 빠르기를 나타내는 기계로, 
			일정한 시간 간격으로 소리를 내며, 악기를 연주하는 사람들이 박자 감각을 훈련하기 위해 사용합니다.</p>
	<p><span style="font-weight: 700">&#183</span> 본 웹 사이트가 제공하는 온라인 메트로놈은 <span style="font-weight: 600">20~300 bpm</span>의 속도를 제공합니다. 스크롤 바를 조절하거나, 
		 스크롤 바를 감싸고 있는 <span style="font-weight: 600">"+", "-"</span> 버튼을 클릭하여 조절할 수 있습니다.</p>
	<p><span style="font-weight: 700">&#183</span> 마디의 첫 번째 박자와 나머지 박자의 소리는 다르게 구별됩니다.</p>
	<p><span style="font-weight: 700">&#183</span> 하단의 작은 <span style="font-weight: 600">"+", "-"</span> 버튼을 클릭하여, 마디 당 박자 수를 조절할 수 있습니다.</p>
	  </div>
	</div>
  </div>
  
  <%- include('./footer') %>
  <script>
	const openHelp = document.querySelector('.open-help');
const helpIcon = document.querySelector('.help-icon');
const helpModal = document.querySelector('.help-modal');
const modalOverlay = document.querySelector(".modal-overlay");
const modalContent = document.querySelector('.modal-content');
const closeModalBtn = document.querySelector('.close-modal');
  </script>

  <script src="/js/metronome.js" type="module"></script>
  <script src="/js/common.js"></script>
</body>
</html>