<nav class="nav_bar" th:fragment="nav">
  <div class="nav_container">
    <div class="owner_text_container">
      <a href="../"
        ><img class="logo" src="/images/logo_black.svg" alt=""/>
      <div class="title_container">
        <h1 class="title">M.Labs</h1>
      </div>
    </a>
    <div class="menu_btn">
      <img class="app-icon" src="/images/apps-black.svg">
      <span>메뉴</span>
      <span class="triangle" style="font-size: 12px;">▼</span>
    </div>
    </div>

    <div class="toggle_container">
      <label class="toggleSwitch">
        <span class="toggleButton">
          <img class="display_mode_icon" src="/images/sun.png" />
        </span>
      </label>
    </div>
  </div>
</nav>
