<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/roulette.css" />

  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container">
        <h1 style="width: 80%; margin-bottom: 30px">돌려돌려 돌림판!</h1>
        <div class="content-wapper">
          <div class="roulette-outer">
            <div class="roulette-pin"></div>
            <div class="roulette">
              <div class="roulette-item-wrapper">
  
              </div>
  
              <div class="line-wrapper">
  
              </div>
            </div>
          </div>
          <div class="item-result">
            <h2 class="now-result">결과: <span></span></h1>
            <div class="item-container">
  
           </div>
          </div>

        </div>
        <!-- <div class="result-container">
          <span class="result-now"></span>
        </div> -->

        <div class="all-result-container">
          <h1>모든 결과 보기</h1>
          <ul>
            <li>
              <div class="cnt-txt">회차</div>
              <div class="val-txt">결과</div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!-- <div class="modal">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <h3></h3>
        <span class="result"></span>
        <button type="button" class="close-modal-btn">확인</button>
      </div>
    </div> -->

    <div class="alert-modal">
      <div class="alert-modal-content">
        <span style="font-size: 22px; color: red; font-weight: 600;">!</span>&nbsp;&nbsp;<span>최대 12개 까지 가능합니다.</span>
      </div>
    </div>
    <%- include('./footer') %>
    <script src="/js/common.js"></script>
    <script src="/js/roulette.js"></script>
  </body>
</html>
