<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="간편하고 재미있는 온라인 랜덤 돌림판">
    <meta name="keywords" content="돌림판, 룰렛, 랜덤 돌림판, 랜덤 선택, 온라인 돌림판, 돌리기, 무작위 선택, 뽑기, 
    게임 도구, roulette, random roulette, online roulette, spin, random selection, gaming tool">
    <meta name="robots" content="index nofollow">

    <title>돌려돌려 돌림판</title>

    <meta name="robots" content="index nofollow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mlabstools.com/roulette">
    <meta property="og:site_name" content="mlabstools:Online Tools">
    <meta property="og:title" content="돌려돌려 돌림판">
    <meta property="og:image" content="images/ogimage.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mlabstools">
    <meta name="twitter:title" content="돌려돌려 돌림판">
    <meta name="twitter:creator" content="@mlabstools">
    <meta name="twitter:description" content="간편하고 재미있는 온라인 랜덤 돌림판">
    <meta property="twitter:image" content="images/ogimage.png">
    <meta name="by" content="mlabstools">

    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/roulette.css" />

  </head>
  <body>
    <%- include('./nav') %>
    <%- include('./accordion') %>

    <main>
      <div class="container">
        <h1 style="width: 80%; margin-bottom: 30px">돌려돌려 돌림판!</h1>
        <div class="content-wapper">
          <div class="roulette-outer">
            <div class="roulette-pin"></div>
            <div class="roulette">
              <div class="roulette-item-wrapper">
  
              </div>
  
              <div class="line-wrapper">
  
              </div>
            </div>
          </div>
          <div class="item-result">
            <h2 class="now-result">결과: <span></span></h2>
            <div class="item-container">
  
           </div>
           <span style="display: inline-block; margin-top: 10px; font-size: 12px; font-weight: 600; color: rgb(153, 153, 153);">(모든 결과는 페이지 하단에 표시됩니다.)</span>
          </div>

        </div>
        <!-- <div class="result-container">
          <span class="result-now"></span>
        </div> -->

        <div class="all-result-container">
          <h2 style="font-size: 32px; margin-bottom: 15px;">모든 결과 보기</h2>
          <ul>
            <li>
              <div class="cnt-txt">회차</div>
              <div class="val-txt">결과</div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!-- <div class="modal">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <h3></h3>
        <span class="result"></span>
        <button type="button" class="close-modal-btn">확인</button>
      </div>
    </div> -->

    <div class="alert-modal">
      <div class="alert-modal-content">
        <span style="font-size: 22px; color: red; font-weight: 600;">!</span>&nbsp;&nbsp;<span>최대 12개 까지 가능합니다.</span>
      </div>
    </div>
    <%- include('./footer') %>
    <script src="/js/common.js"></script>
    <script src="/js/roulette.js"></script>
  </body>
</html>
