
	<div class="slick-container" th:fragment = "slick">
		<p class="more-content"><span style="font-weight: 700; color:#3a3a3a";>M.Labs의</span> 더 많은 콘텐츠</p>
		<div class="slider" >
		  <div class="slick-container">
		  	<a href="./frequency">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
		  				<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">가청 주파수 테스트</p>
		  				<span class="slick-content-desc">20~20000HZ 사이의 주파수를 출력해 줍니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./barcode'">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">바코드/QR코드 생성기</p>
		  				<span class="slick-content-desc">온라인으로 간편하게 바코드, QR 생성 후 다운로드할 수 있습니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./server-time">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">서버 시간 확인하기</p>
		  				<span class="slick-content-desc">내가 원하는 웹 사이트의 url로 해당 서버의 시간을 확인할 수 있습니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./myip">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">내 ip 주소 확인하기</p>
		  				<span class="slick-content-desc">내 ip 주소가 궁금하다면?</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./lotto">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">로또 번호 생성기</p>
		  				<span class="slick-content-desc">로또 번호를 생성해서 당첨의 기회를 노려보세요.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./img-convert">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">이미지 확장자 변환기</p>
		  				<span class="slick-content-desc">이미지 파일의 확장자를 변경해 다운로드할 수 있습니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./bokkli">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">간편 복리 계산기</p>
		  				<span class="slick-content-desc">복리를 계산해 투자 전략을 세울 수 있습니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  
		  <div class="slick-container">
		  	<a href="./cal">
		  		<div class="slick-content">
		  			<div class="slick-img-wrap">
						<img class="slick-img" src="/images/logo.png">
		  				<span class="overlay"></span>
		  			</div>
		  			<div class="slick-content-name-wrap">
		  				<p class="slick-content-name">공학용 계산기</p>
		  				<span class="slick-content-desc">간편한 공학용 계산기입니다.</span>
		  			</div>
		  		</div>
		  	</a>
		  </div>
		  

		</div>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>
  <script>
    $(document).ready(function () {
			$('.slider').slick({
  			slidesToShow: 3,
  			slidesToScroll: 1,
  			autoplay: false,
  			centerMode: true,
			});
    });
  </script>

	  </div>

