<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/slider.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/youtube-thumbnail.css" />
  </head>
  <body>
    <%- include('./nav') %> <%- include('./accordion') %>

    <main>
      <!-- <div class="container"> -->
        <div class="thumbnail-container">
          <div class="here">
            <span>여기에 썸네일이 표시됩니다.</span>
            <br>
            <span>표시된 썸네일을 클릭해 다운로드하세요.</span>
          </div>
        </div>
        <div class="input-btn-area">
          <span>url 주소 입력</span>
 
          <input class="url-input" type="text" placeholder="여기에 url을 입력하세요" />
          <!-- <span>Size 선택</span> -->
          <select class="img-size-selector" name="img-size-selector">
            <option value="select-size" selected>사이즈 선택(기본 1920×1080)</option>
            <option value="default">120×90</option>
            <option value="mqdefault">320×180</option>
            <option value="hqdefault">480×360</option>
            <option value="sddefault">640×480</option>
            <option value="maxresdefault">1920×1080</option>
          </select>
          <button type="button" class="submit-url">썸네일 추출</button>
          <button type="button" class="download-all" onclick="downloadAll()">모두 다운로드</button>
        </div>
        </div>
    </main>

    <%- include('./footer') %>
    <script src="/js/common.js"></script>
    <script src="/js/youtube-thumbnail.js"></script>

    <script>
    
    </script>
  </body>
</html>
