<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/slider.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/youtube-thumbnail.css" />
  </head>

  <body>
    <%- include('./nav') %> <%- include('./accordion') %>

    <main>
      <!-- <div class="container"> -->
        <div class="thumbnail-container">
          <div class="here">
            <span>여기에 썸네일이 표시됩니다.</span>
            <br>
            <span>표시된 썸네일을 클릭해 다운로드하세요.</span>
          </div>
        </div>
        <div class="input-btn-area">
          <span>url 주소 입력</span>
 
          <input class="url-input" type="text" placeholder="여기에 url을 입력하세요" />
          
          <select class="img-size-selector" name="img-size-selector">
            <option value="select-size" selected>사이즈 선택(기본 1920×1080)</option>
            <option value="default">120×90</option>
            <option value="mqdefault">320×180</option>
            <option value="hqdefault">480×360</option>
            <option value="sddefault">640×480</option>
            <option value="maxresdefault">1920×1080</option>
          </select>
          <button type="button" class="submit-url">썸네일 추출</button>
          <button type="button" class="download-all" onclick="downloadAll()">모두 다운로드</button>
          <div class="open-help">
            <span>도움말(클릭)</span>
            <img class="help-icon" src="/images/help.svg">
          </div>
        </div>
    </main>

    <%- include('./footer') %>
    <div class="help-modal">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <div class="modal-content-wrapper">
          <img class="close-modal" src="/images/deletebtn.svg">
          <h1 style="margin-bottom: 30px;">사용방법</h1>
          <p>1. 입력란에 유튜브 url을 입력합니다.</p>
          <p>2. 썸네일의 크기를 설정합니다. (기본 1920*1080)</p>
          <p>3. 일부 유튜브 동영상은 특정 썸네일 크기를 지원하지 않을 수 있으므로, 다양한 옵션 중 하나를 선택할 수 있습니다.</p>
          <p>4. <b>"썸네일 추출 버튼"</b>을 클릭합니다.</p>
          <p>5. 생성된 이미지를 클릭해 다운로드합니다.</p>
          <p>6. 생성된 이미지에 마우스를 올려 나타나는 <b>"x"</b>버튼을 클릭해 삭제를 할 수 있습니다.</p>
          <p>7. <b>"모두 다운로드"</b>를 클릭해 추출한 모든 썸네일을 다운로드합니다.</p>
        </div>
      </div>
    </div>
    <script src="/js/youtube-thumbnail.js"></script>
    <script src="/js/common.js"></script>

    <script>
    
    </script>
  </body>
</html>
