@charset "UTF-8";



.main_wrap {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 70%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
}
.main_wrap h1{
  width: 100%; 
  margin-bottom: 30px;
}
form {
  padding: 10px;
  width: 100%;
  height: 450px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: lightgrey;
  
}
form.form_dark{
  border: 1px solid #3a3a3a;
  background-color: #151515;
  
}
table {
  width: 100%;
  height: 450px;
  border-collapse: collapse;
}
table tr:nth-child(1) {
  height: 135px;
}
table th, td{
  border: 1px solid #c3c3c3;
}

#display {
  height: 130px;
  text-align: right;
  font-size: 25px;
  width: calc(99.8% - 20px);
  padding: 0 10px;
  outline: none;
}
#display::placeholder{
  color: #c3c3c3;
}
td {
  width: 20%;
}
td.dark{
  border: 1px solid #151515;
}

.write_input{
  border: 1px solid #c3c3c3;
}
.write_input.write_input_dark{
  background-color: #3a3a3a;
  border: 1px solid #3a3a3a;
  color: white;
  
}
.cal_btn{
  color: black;
  /* border: 1px solid #adadad; */
  cursor: pointer;
}
.cal_btn:hover{
  opacity: .8;
}
.cal_btn.cal_btn_dark{
  background-color: #3a3a3a;
  /* border: 1px solid black; */
  color: white;
  
}

@media screen and (max-width:500px) {
  #display{
    font-size: 18px;
  }
  
}