@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 44px;
  height: 44px;
}

html, body{
  height: 100%;
}
body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* display: grid;
  grid-template-rows: 1fr auto; */
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* darkmode */
body.lite {
  background: white;
  color: #151515;
}
body.dark {
  background: #151515;
  color: white;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  height: 70px;
  color: black;
  background-color: white;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
  z-index: 11
}

nav.nav_dark {
  background-color: #151515;
  border-bottom: 1px solid #5f5f5f;
  box-shadow: 0 2px 4px rgba(141, 141, 141, 0.2); /* 그림자 설정 */
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  height: 50px;
}
.owner_text_container, .owner_text_container a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.title_container{margin-left: 12px;}
.title_container h1{ color: #151515; font-size: 28px;}
/* toggle */
.toggleSwitch {
  width: 55px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.toggleSwitch {
  background: #e0e0e0;
}
.toggleSwitch.active {
  background: #5c5c5c;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 25px);
  background: #fff !important;
}

.toggleSwitch,
.toggleButton {
}

.toggleButton {
  display: inline-block;
  position: relative;
  background: #ffffff;
}

.toggleSwitch.blue.active {
  background: #5151e5;
}

.toggleSwitch.blue .toggleButton {
  background: #5151e5;
}

/* display mode img */
.display_mode_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}

/* menu */
#Accordion_wrap{
  position: relative;
  z-index: 11;
  color: black;
  top:70px;
  height: 10px;
}
.app-icon{width: 29px;}
.menu_btn {
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 97px;
  height: 70px;
  cursor: pointer;
  margin-top:1px;
  box-sizing: content-box;
  font-size: 19px;
  letter-spacing:1px;
  font-weight: 300;
}
.menu_btn.menu_btn_dark{
  color:white;
  border-style: none;
}
.menu_btn:hover{border-bottom: 2px solid #151515;}
.menu_btn_dark:hover{border-bottom: 2px solid white;}
.menu_btn.on > span {
  font-weight: bold;
  color: #006633;
}
.menu {
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 0 10px 0px rgba(0 0 0 / 15%);
  transition: all 0.2s ease; /* 슬라이드 업/다운 효과를 위한 트랜지션 추가 */
}
.menu.open{
  height: 250px;
}
.menu.menu_dark{
  background-color: #3a3a3a;
  color: white;
}
.menu_container{
  height: 210px;
  margin: 20px 0;
  padding: 0 20px;
}
.menu_container a{
  text-decoration: none;
  color: #3a3a3a;
}
.menu_container a.link_dark{
  text-decoration: none;
  color: white;
}
.menu_content{
  float: inline-start;
  display: inline-block;
  width: 20%;
}

.menu_content ul li{
  list-style-type:none;
  margin: 5px 0;
}
.menu_container .content_type{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {

  .menu.open{
    position: relative;
    height: 350px;
    overflow: scroll;
    z-index: 10;
  }
  .menu_container {
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
  }
  .menu_content{
    width: 100%;
  }
  .menu_content ul li, .menu_content p{
    margin: 0 !important;
    padding: 5px 0 !important;
    border-bottom: 1px solid lightgray;
  }
  .menu_content ul{
    display: none;
  }
  .menu_content ul.content_open{
    display: block;
  }

}


/* main */
main {
  flex: 1;
  padding: 40px 0;
  height : auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 820px;
  padding: 0 5%;
  margin: 50px 0;
}

/* footer */
footer {
  display: flex;
  position : relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  min-height: 170px;
  background-color: rgb(227, 227, 227);
}
footer.footer_dark {
  background-color: #2b2b2b;
}

footer h4 {
  color: rgb(149, 149, 149);
}

.share_container {
  display: flex;
  align-items: center;
}
.share_content {
  display: flex;
  justify-content: center;
}
.link-icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 20px 0 20px 0;
  z-index: 1;
}
.link-icon.twitter {
  background-repeat: no-repeat;
}
.link-icon.facebook {
  background-repeat: no-repeat;
}
.link-icon.kakao {
  background-repeat: no-repeat;
}

.naver_btn {
  position: relative;
  width: 60px;
  height: 40px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.naver_btn a {
  width: 0;
  height: 0;
}
#naver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.copyright {
  color: rgb(162, 162, 162);
}



.how_to_use {
	margin: 40px 0 20px 0;
	width: 820px;
	border-radius: 3px;
}

/* .how_to_use.htu_dark {
	border: 1px solid #3a3a3a;
} */

.htu_h3 {
	display: flex;
	align-items: center;
	height: 35px;
	color: #151515;
	font-size: 14px;
}

.htu_h3.htu_h3_dark{
  color: white;
} 

.description {
	padding: 10px;
	border-top-style: none;
}

.description.desc_dark {
	border-style: none;
}

.description p {
	font-size: 16px;
	padding: 10px;
}