@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");



.share_container {
  display: flex;
  align-items: center;
}
.share_content {
  display: flex;
  justify-content: center;
}
.link-icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 20px 0 20px 0;
  z-index: 1;
}
.link-icon.twitter {
  background-repeat: no-repeat;
}
.link-icon.facebook {
  background-repeat: no-repeat;
}
.link-icon.kakao {
  background-repeat: no-repeat;
}

.naver_btn {
  position: relative;
  width: 60px;
  height: 40px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.naver_btn a {
  width: 0;
  height: 0;
}
#naver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.copyright {
  color: rgb(162, 162, 162);
}

/* common css end */




/* button */
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  min-width: 300px;
  height: 65px;
  margin: 15px 0;
}
.num_generate_btn {
  width: 98%;
  height: 55px;
  color: white;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.num_generate_btn:hover {
  animation-name: big;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
.num_generate_btn.btn_lite {
  background-color: #514170;
  
}
.num_generate_btn.btn_dark {
  background-color: #5f5f5f;
  
}
@keyframes big {
  from {
    width: 98%;
    height: 55px;
    font-size: 18px;
  }
  to {
    width: 100%;
    height: 58px;
    font-size: 20px;
  }
}

/* lotto num */
.lotto_container {
  width: 55%;
  min-width: 300px;
  margin-top: 20px;
}
.top_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #c6d7e6;
  border-radius: 5px 5px 0 0;
  
}
.top_bg.top_bg_dark{
  color: white;
  background-color: #3a3a3a;
  
}
.top_bg span {
  color: rgb(52, 96, 158);
  font-weight: 600;
  

}
.top_bg span.span_dark {
  color:white;
  
}
.lotto_num_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  border: 1px solid #cecece;
  border-radius: 0 0 5px 5px;
  min-height: 50px;
}
.lotto_num_container.lotto_num_container_dark {
  border-color: #3a3a3a;
}
.lotto-num-group{
  display: flex;
}
.lotto_num_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 7px;
  font-weight: 600;
  color: white;
}
.lotto_num {
  position: relative;
  top: -1px;
  color: white;
  font-weight: 700;
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* lotto machin */
.lotto_machine {
  width: 250px;
  height: auto;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.lotto_machine_container.vibration {
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.check_jackpot{
  text-decoration: none;
}

.check_jackpot:hover{

  opacity: .8;
  transition: .2s;
}


.share_container{
  display: flex;
  align-items: center;
}
.share_content{
  display: flex;
  justify-content: center;
}


.link-icon { position: relative; display: flex; justify-content: center; width: 60px; font-size: 14px; font-weight: 500; color: #333;  padding: 20px 0 20px 0; }
.link-icon.twitter {background-repeat: no-repeat;}
.link-icon.facebook {background-repeat: no-repeat;} 
.link-icon.kakao {background-repeat: no-repeat;}

.rule_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  min-width: 300px;
  margin: 20px 0;
}
.rule_container h4{
  font-size: 20px;
  margin-bottom: 15px;
}

.rule_table{ width: 100%; border-collapse: collapse;}
.rule_table th, td{
  border: 1px solid #bacad8;
  text-align: center;
  height: 45px;
  
}
th.th_dark, td.td_dark{
  border-color: #3a3a3a;
  
}
th.th_dark{
  background-color: #3a3a3a !important;
}
.rule_table th{
  background-color: #c6d7e6;
}
