.content-wapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.roulette-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid #151515;
  border-radius: 50%;
  background-color: #151515;
}
.roulette-outer.dark {
  background-color: #3a3a3a;
}
.roulette-outer > .roulette {
  width: 480px;
  height: 480px;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  background-color: lightyellow;
}
.roulette-outer > .roulette.dark {
  background-color: #405071;
}
.roulette-outer > .roulette-pin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 8px 0;
  border-color: rgb(255, 75, 96) transparent transparent transparent;
  z-index: 10;
}
.roulette-outer > .roulette > .roulette-item-wrapper > .roulette-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10%;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.roulette-outer > .roulette > .line-wrapper > .line {
  position: absolute;
  top: 0;
  left: 49.9%;
  bottom: 50%;
  transform: translate(-40%, 0%);
  padding-top: 10%;
  width: 1.3px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  transform-origin: bottom;
}
.roulette-outer > .roulette > .line-wrapper > .line.dark {
  background-color: #3a3a3a;
}
.spin-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border: 3px solid lightgrey;
  border-radius: 50%;
  background-color: rgb(255, 149, 0);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  z-index: 10;
}
.spin-btn:hover {
  animation: zoom 0.6s infinite;
}

@keyframes zoom {
  0% {
    width: 65px;
    height: 65px;
  }
  100% {
    width: 75px;
    height: 75px;
  }
}

.item-result {
  width: 35%;
}
.item-container {
  width: 100%;
  min-width: 350px;
}
.item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.item-wrapper input {
  width: calc(100% - 50px);
  height: 26px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  outline: none;
}
.item-wrapper input.dark {
  border: 1px solid #3a3a3a;
  background-color: #3a3a3a;
  color: white;
}
.delete-item-btn {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: rgb(223, 78, 102);
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.add-item-btn {
  width: 100%;
  height: 50px;
  background-color: #325397;
  border: 1px solid #325397;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.add-item-btn.dark {
  background-color: #117d8f;
  border: 1px solid #117d8f;
}

.modal,
.alert-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  height: 100px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-content.dark {
  background-color: #3a3a3a;
}
.modal-content-wrapper {
  position: relative;
  padding: 25px 30px;
}
.close-modal-btn {
  border-style: none;
  background-color: transparent;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}
.close-modal-btn.dark {
  color: rgb(220, 220, 220);
}

.alert-modal-content {
  min-width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.alert-modal-content.dark {
  background-color: #3a3a3a;
}

.all-result-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-result-container h1 {
  margin-bottom: 30px;
}
.all-result-container > ul {
  border: 1px solid lightgrey;
  width: 60%;
  min-width: 300px;
  list-style: none;
  border-radius: 5px;
}
.all-result-container > ul > li {
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
  color: #3a3a3a;
}
.all-result-container > ul > li:nth-child(1) {
  color: #c3c3c3;
  border-top-style: none;
}
.all-result-container > ul > li:last-child {
  border-bottom-style: none;
}
.all-result-container > ul > li > div {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.all-result-container > ul > li > div:nth-child(1) {
  width: 13%;
  border-right: 1px solid lightgrey;
}

.all-result-container > ul > li > div:nth-child(1).dark {
  border-right: 1px solid #3a3a3a;
}

.all-result-container > ul.dark,
.all-result-container > ul > li.dark {
  color: white;
  border-color: #3a3a3a;
}

.now-result{margin-bottom: 15px;}