@charset "UTF-8";

.title-txt {
	margin-bottom: 16px;
}

.title-txt.title-txt-dark {
	color: white;
}

.url-input-wrap, .btn-wrap {
	width: 70%;
}
.btn-wrap{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 70px;
	margin-top: 18px;
}
.url-input-wrap.url-input-wrap-dark {
	background-color: #3a3a3a;
}
.search{
	width: calc(100% - 30px);
	height: 44px;
	padding: 3px 10px;
	border: 5px solid #2770c4;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
}
.search.dark{
	border: 5px solid #3a3a3a;
	background-color: #151515;
	color: white;
}
.get-time-btn{
	width: 100%;
	height: 60px;
	background-color: #2770c4;
	color: white;
	border-radius: 5px;
	border-style: none;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
.search.search-dark {
	background-color: #3a3a3a;
	color: white;
}

.search::placeholder {
	color: rgb(166, 166, 166);
}

.search.search-dark::placeholder {
	color: lightgrey;
}

.get-time-btn:active {
	width: 98%;
	height: 58px;
	opacity: .8;
}

.get-time-btn.get-time-btn-dark {
	background-color: #3a3a3a;
}

.url-data-wrap, .server-time-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.result-container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

#url-data {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #3a3a3a;
	text-align: center;
	/* width: 100%; */
}

#url-data.url-data-dark {
	color: white;
}

#serverTime {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 50px;
	color: #2770c4;
	text-align: center;
}

#serverTime.server-time-dark {
	color: #dcb662;
}

.how_to_use {
	margin: 40px 0 20px 0;
	width: 520px;
	border: 1px solid #5884ab;
	border-radius: 3px;
}

.how_to_use.htu_dark {
	border: 1px solid #3a3a3a;
}

.htu_h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	background-color: #609fd6;
	color: white;
	font-size: 14px;
}

.htu_h3.htu_h3_dark {
	background-color: #2b2b2b;
}

.description {
	padding: 10px;
	border-top-style: none;
}

.description.desc_dark {
	border-style: none;
	background-color: #3a3a3a;
}

.description p {
	font-size: 16px;
	padding: 10px;
}

.open-help{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	width: 140px;
	height: 23px;
	border-radius: 5px;
  }
  .open-help:hover{
	opacity: .8;
	transition: .2s;
  }
  .open-help span{ 
	margin: 0;
	font-size: 15px;
	font-weight: 600;
  }
  .help-icon{
	position: relative;
	top: 1px;
	width: 19px;
	height: auto;
	margin-left: 5px;
  }
  
  /* modal */
  .help-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
  }
  
  .modal-overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .modal-content {
	min-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .modal-content.dark{
	background-color: #3a3a3a;
  }
  .modal-content-wrapper{
	position: relative;
	padding: 25px 30px;
  }
  .close-modal{
	position: absolute;
	top:6%;
	right:3%;
	width: 14px;
	height: auto;
	cursor: pointer;
  }
  .close-modal:hover{
	width: 15px;
	height: auto;
	opacity: .8;
	transition: .2s;
  }
  .modal-content-wrapper p{
	margin:15px 0;
  }
  