.input-btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(30% - 40px);
  border-left: 1px solid rgb(218, 218, 218);
}
.input-btn-area.dark{
  border-left: 1px solid #3a3a3a;
}
.input-btn-area span {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 27px;
  letter-spacing: 0.2px;
}
.open-help{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  cursor: pointer;
  width: 140px;
  height: 23px;
  border-radius: 3px;
}
.open-help:hover{
  opacity: .8;
  transition: .2s;
}
.open-help span{ 
  margin: 0;
  font-size: 15px;
}
.help-icon{
  position: relative;
  top: 1px;
  width: 19px;
  height: auto;
  margin-left: 5px;
}
.url-input,
.img-size-selector {
  width: calc(100% - 60px);
  padding: 3px 10px;
  height: 40px;
  border: 3px solid #aed2fb;
  border-radius: 3px;
  outline: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  color: #151515;
}
.img-size-selector {
  margin-top: 30px;
  width: calc(100% - 34.5px);
  height: 50px;
}
.url-input.dark, .img-size-selector.dark{
  border: 3px solid #3a3a3a;
  background-color: #151515;
  color: white;
}
.url-input::placeholder {
  color: rgb(198, 198, 198);
}
.submit-url,
.download-all {
  width: calc(100% - 40px);
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #2770c4;
  border-style: none;
  border-radius: 3px;
  margin: 30px 0 0 0;
  cursor: pointer;
}
.submit-url.dark{
  background-color: #3a3a3a;
}
.download-all {
  display: none;
  background-color: transparent;
  color: #2770c4;
  border: 3px solid #2770c4;
}
.download-all.dark{
  background-color: transparent;
  color: white;
  border: 3px solid #3a3a3a;
}
.submit-url:hover {
  opacity: 0.9;
  transition: 0.2s;
}
.submit-url:active {
  width: calc(100% - 45px);
  height: 49px;
  font-size: 17px;
}
.content {
  width: 100%;
}
.selector-container {
  display: flex;
  width: 100%;
}
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c3c3c3;
  width: 50%;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.selector:hover {
  opacity: 0.9;
  transform: 0.2s;
}
.selector.selected {
  background-color: #0068df;
  border: 1px solid #0068df;
  color: white;
}
.thumbnail-container {
  position: relative;
  float: left;
  width: 70%;
  background-color: #f9f9f9;
  padding: 20px;
}
.thumbnail-container.dark{
  background-color: #151515;
}
.img-info-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 15px 0;
  cursor: pointer;
}
.img-info-div:hover {
  width: 103%;
  height: 55px;
  opacity: 0.8;
  transition: 0.2s;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  border: 1px solid lightgrey;
  border-left-style: none;
}
.img-wrapper img {
  border-radius: 3px;
}
.download-txt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  color: #151515;
}

.thumbnail-content {
  position: relative;
  display: inline-block;
  margin: 15px;
}
.thumbnail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 102px;
}
.thumbnail {
  width: 170px;
  height: auto;
  cursor: pointer;
  border-radius: 3px;
}
.here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.here span {
  font-size: 19px;
  font-weight: 600;
  color: lightgrey;
  text-align: center;
}
main {
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.delete-item {
  position: absolute;
  top: 18%;
  left: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: white;
  z-index: 10;
  cursor: pointer;
}

.help-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-content.dark{
  background-color: #3a3a3a;
}
.modal-content-wrapper{
  position: relative;
  padding: 25px 30px;
}
.close-modal{
  position: absolute;
  top:6%;
  right:3%;
  width: 14px;
  height: auto;
  cursor: pointer;
}
.close-modal:hover{
  width: 15px;
  height: auto;
  opacity: .8;
  transition: .2s;
}
.modal-content-wrapper p{
  margin:15px 0;
}

@media screen and (max-width: 1128px) {
 main{
  flex-direction: column-reverse;
 } 
 .input-btn-area{
  min-height: 50vh;
  width: 99.94%;
  border-bottom: 1px solid rgb(218, 218, 218);
 }
 .input-btn-area.dark{
  border-bottom: 1px solid #3a3a3a;
 }
 .url-input{
  width: 90%;
 }
 .submit-url, .download-all,
 .img-size-selector{
  width: calc(90% + 25px);
 }
 .thumbnail-container{
  width: calc(99.94% - 40px);
  min-height: 50vh;
 }
}